.button {
    -fx-background-color: linear-gradient(#444, #555);
    -fx-background-insets: 0;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #444;
    -fx-text-fill: white;
}
.button:hover{
    -fx-background-color: linear-gradient(#22B3A2, #139C8C);
    -fx-border-color: #139C8C;
}

#previousbutton,
#nextbutton{
    -fx-background-color: linear-gradient(#5A22B3, #6F3DBF);
    -fx-background-insets: 0;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #5A22B3;
    -fx-text-fill: white;
}
#previousbutton:hover,
#nextbutton:hover{
    -fx-background-color: linear-gradient(#9A74D6, #8B62CC);
    -fx-border-color: #7D4BCC;
}